## Conditional Statements
- if
- elif
- else

### Question 1
Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.

In [30]:
if 5 > 2:
    print("The condition has been satisfied")

The condition has been satisfied

### Question 2
Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 or y is less than or equal to 13. Change the values assigned to x and y and re-run the cell to verify your code still works.

In [32]:
x = 10
y = 25
if x > 3 and y > 13:
    print("Both conditions are correct")

Both conditions are correct

In [33]:
x = 10
y = 25
if x <= 3 or y <= 13:
    print( "At least one of the conditions is false")
else:
    print("nil")

nil

### Question 3
Let x represent the number of orders received during a certain day. Create a program that prints "A busy day" if x is greater than 100, and "A calm day" otherwise.

In [35]:
x = 100
if x > 100:
    print("A busy day")
else:
    print("A calm day")

A calm day

### Question 4
Create the following piece of code: If x > 200, print out "Big"; If x > 100 and x <= 200, 
print out "Average"; and If x <= 100, print out "Small". Use the if, elif, and else keywords in your code.

In [36]:
x = 100
if x > 200:
    print("Big")
elif x > 100 and x <= 200:
    print("Average")
else:
    print("Small")

Small

### Question 5
Keep the first two conditions of the code from the previous exercise (if x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average").

Add a new elif statement, so that, eventually, the program prints "Small" if x >= 0 and x <= 100, and "Negative" if x < 0.

In [37]:
x = 500
if x > 200:
    print("Big")
elif x > 100 and x <= 200:
    print("Average")
elif x >= 0 and x <= 100:
    print("Small")
else:
    print("Negative")

Big

### Combining conditional statements & functions

### Scenario
If John has saved at least 100  by the end of the week he will get extra 10. Else no extra cash.

In [38]:
#defining a function 
def add_10(m): #m- the money john saved at the end of the week
    if m >= 100:
        m += 10
        return m
    else:
        return("save more!")

In [22]:
add_10(80)

'save more!'

In [39]:
add_10(280)

290

### Question
Define a function, called compare_the_two(), with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [40]:
def compare_the_two(x,y):
    if x > y:
        return("Greater")
    elif y > x:
        return("Less")
    else:
        return("Equal")

In [41]:
compare_the_two(29,77)

'Less'

In [42]:
compare_the_two(29,29)

'Equal'

In [43]:
compare_the_two(2922,44)

'Greater'

### Conditional Statements and Loops together

### Question
Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [45]:
for n in range(1,11):
    print(n*2, end = ' ')

2 4 6 8 10 12 14 16 18 20

### Question
Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". Help yourself with the range() function to solve this exercise.

In [52]:
for n in range(1,31):
    if n % 2 != 0:
        print(n, end = ' ')
    else:
        print("Even", end = ' ')

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

### Question
You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [53]:
n = [1, 2, 3, 4, 5, 6]
for nums in n:
    print(nums * 10, end = ' ')

10 20 30 40 50 60

### Question
You are provided with the nums list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20.

In [62]:
nums = [1, 35, 12, 24, 31, 51, 70, 100]

count = 0
i = 0
while i < len(nums):
    if(nums[i] < 20):
          count += 1
    i += 1
      
print("Number of values lower than 20:", count)

Number of values lower than 20: 2

In [64]:
count

2

In [65]:
i

8

#### Decreasing the number of iteration

In [66]:
nums.sort()

In [67]:
nums

[1, 12, 24, 31, 35, 51, 70, 100]

In [72]:
count = 0
i = 0
while nums[i] < 20 :
    if(nums[i] <= 20):
          count += 1
    i += 1
      
print("Number of values lower than 20:", count)

Number of values lower than 20: 2

In [73]:
i

2

# End