## Data Types
We have three categories 
- Basic Types
- Container Types
- User Defined

### Basic Types
1) integer
2) float
3) complex
4) boolean
5) string

#### Integer

In [1]:
#int
a = 4
type(a)

int

In [2]:
int(3)

3

#### Float

In [29]:
#float
a = 5.7768
print(a)
type(a)

5.7768

float

In [4]:
float(a)

5.7768

In [6]:
# we can convert a float into an integer by using given below syntax.
int(a)

5

#### Boolean

In [30]:
#bool
# we have True & False
x = True
type(x)

bool

In [8]:
bool(x)

True

In [13]:
y = False
type(y)

bool

In [14]:
bool(y)

False

#### Complex

In [31]:
#complex
b = 4 + 6j
type(b)

complex

In [16]:
complex(b)

(4+6j)

#### String

In [19]:
#Converts numbers into text

In [32]:
#str
y = 10
print(str(y) + " Rupees ")

10 Rupees

In [33]:
type(y)

int

In [34]:
z = "10 Dollars"
type(z)

str

In [35]:
print('Priyanshu')
print("Priyanshu's")
print('''"Priyanshu's"''')
print("""'Priyanshu's'""")

Priyanshu
Priyanshu's
"Priyanshu's"
'Priyanshu's'

In [36]:
x = "I'm from Priyanshu's team" 
x

"I'm from Priyanshu's team"

In [37]:
# \ is used as an escape character

In [38]:
print('I\'m fine')

I'm fine

In [39]:
print('Priyanshu',"Priyanshu","""Priyanshu""")

Priyanshu Priyanshu Priyanshu

### Container Types
1) Lists
2) Tuples
3) Dictionary

### Lists
A list is a type of sequence of data points

##### Note - 
Use square brackets [ ] & Use quotation marks ' '

In [40]:
Participants = ['Ram', 'Mohan', 'Krishna', 'john']
Participants

['Ram', 'Mohan', 'Krishna', 'john']

In [41]:
print(Participants[2])

Krishna

In [42]:
print(Participants[-1])

john

In [44]:
Participants[-1] = ''
Participants

['Ram', 'Mohan', 'Krishna', '']

In [45]:
# to remove any name will use del
del(Participants[-1])
Participants

['Ram', 'Mohan', 'Krishna']

In [46]:
#to add we will use append
Participants.append("king")
Participants

['Ram', 'Mohan', 'Krishna', 'king']

In [48]:
#we can also use the extend
Participants.extend(["Minister"])
Participants

['Ram', 'Mohan', 'Krishna', 'king', 'Minister']

In [49]:
# there is another method as well for extending the list
Participants += ['Queen']
Participants

['Ram', 'Mohan', 'Krishna', 'king', 'Minister', 'Queen']

In [51]:
#We can find the length(number of elements that our list contain) by using len.
len(Participants)

6

#### Slicing

In [52]:
Participants[:2]

['Ram', 'Mohan']

In [53]:
Participants[1:3]

['Mohan', 'Krishna']

#### Sorting

In [55]:
Numbers = [1,7,3,6,2,90,45,60]
Numbers

[1, 7, 3, 6, 2, 90, 45, 60]

In [57]:
Numbers.sort()
Numbers

[1, 2, 3, 6, 7, 45, 60, 90]

In [65]:
# Descending Order
Numbers.sort(reverse = True)
Numbers

[90, 60, 45, 7, 6, 3, 2, 1]

In [64]:
Numbers.sort(reverse = False)
Numbers

[1, 2, 3, 6, 7, 45, 60, 90]

### Tuples
Tuples are immutable, can't be changed

Placed within Parentheses ()

In [66]:
x = (10, 20, 30, 40)
x

(10, 20, 30, 40)

In [67]:
y = (12, 24, 36, 48)
y

(12, 24, 36, 48)

In [68]:
List = [x,y]
List

[(10, 20, 30, 40), (12, 24, 36, 48)]

In [69]:
(month, Internship_month) = "4,1".split(',')
print(month)
print(Internship_month)

4
1

### Dictionaries
Use curly braces {}

In [70]:
dict = {'k1' : "cat" , 'k2' : "dog"}
dict

{'k1': 'cat', 'k2': 'dog'}

In [71]:
dict['k1']

'cat'

In [77]:
#Attach the Desserts list in the form of a sixth meal.
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'} 
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

In [78]:
Menu['meal_6'] = Dessert

In [80]:
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

### Question
#### Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys and assign the following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.

In [103]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {}
Price_list['Spaghetti'] = 10
Price_list['Fries'] = 5
Price_list['Cheeseburger'] = 8
Price_list['Lasagna'] = 12
Price_list['Soup'] = 5

In [107]:
print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

In [108]:
Price_list[Menu['meal_1']] = 10
Price_list[Menu['meal_2']] = 5
Price_list[Menu['meal_3']] = 8
Price_list[Menu['meal_4']] = 12
Price_list[Menu['meal_5']] = 5

print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

### Another short method
Dictionary Comprehension:

In Python, a dictionary comprehension allows us to create a dictionary based on an expression and iterable(s).
It has the form {key: value for (key, value) in iterable}.
###  zip() function:

The zip() function in Python takes iterables (like lists, tuples, etc.) and returns an iterator of tuples by aggregating corresponding elements.
For example, zip([1, 2, 3], ['a', 'b', 'c']) would yield [(1, 'a'), (2, 'b'), (3, 'c')].
Now, let's see how the code works:

Menu.keys(): This returns a view object of all the keys in the Menu dictionary.
[10, 5, 8, 12, 5]: This is a list of prices corresponding to the meals.
zip(Menu.keys(), [10, 5, 8, 12, 5]): This pairs each meal key with its corresponding price. For example, it pairs 'meal_1' with 10, 'meal_2' with 5, and so on.
{Menu[key]: price for key, price in zip(Menu.keys(), [10, 5, 8, 12, 5])}: This is the dictionary comprehension. It iterates through each pair of key and price generated by zip(). For each pair, it assigns the meal name (Menu[key]) as the key and the price as the value to create the Price_list dictionary.
So, the dictionary comprehension creates the Price_list dictionary by pairing each meal from the Menu dictionary with its corresponding price using zip().

In [110]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Price_list = {Menu[key]: price for key, price in zip(Menu.keys(), [10, 5, 8, 12, 5])}

print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

In [111]:
def Square_info(p):
    A = p** 4
    P = p*4
    print("Area & Perimeter:")
    return A, P

In [112]:
Square_info(190087)

Area & Perimeter:

(1305598571945919569761, 760348)