## LOOPS

- For Loops
- While Loops
- Nested loops

### Iteration 
is the process/ability to execute a certain code repeatedly.

## FOR LOOP
- Used for definite loops when the number of iterations is known
- For loops can have their counter variables declared in the declaration itself.
- This is preferable when we know exactly how many times the loop will be repeated.

### WHILE LOOP
- The while loop is used when the number of iterations is NOT known.
- There is no built-in loop control variable with a while loop.
- The while loop will continue to run infinite number of times until the condition is met.

### NESTED LOOP
Nested loops refer to the situation where you have one loop inside another loop. This means that the inner loop will be executed multiple times for each iteration of the outer loop.

- Nested loops are loops within loops, where one loop is contained inside another loop.
- The inner loop executes fully during each iteration of the outer loop.

### for loop

#### Question
Print the elements of the following list using a loop

In [133]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 112]

count = 0
for n in list:
    print(n, end = ' ')
    count += 1

1 4 9 16 25 36 49 64 81 100 112

In [134]:
count

11

#### Question
Search for a number x in this tuple using loop

In [135]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 112, 64, 55, 64) 

x = 64
index = 0
for n in tup:
    if(n == x):
        print("Found at index", index)
    index += 1

Found at index 7
Found at index 11
Found at index 13

In [136]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
x = 36
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("FOUND at index",i)
    i += 1

FOUND at index 5

In [137]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 112, 64, 55, 64) 

x = 64
idx = 0
count = 0
while idx < len(tup):
    if(tup[idx] == 64):
        print("Found at index", idx)
    else:
        print("Not found")
    idx += 1
    count += 1

Not found
Not found
Not found
Not found
Not found
Not found
Not found
Found at index 7
Not found
Not found
Not found
Found at index 11
Not found
Found at index 13

In [138]:
count

14

In [139]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100] 

x = 4
i = 0
count = 0

while i < len(nums):
    if(nums[i] == 4):
        print("Found", x)
    else:
        print("not found")
    i += 1
    count += 1

not found
Found 4
not found
not found
not found
not found
not found
not found
not found
not found

In [140]:
#lets decrease the number of iteration
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100] 

x = 36
i = 0
count = 0

while nums[i] <= 36:
    if(nums[i] == x):
        print("Found", x)
    i += 1
    count += 1

Found 36

In [141]:
count

6

In [142]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 112, 64, 55, 64)

x = 36
i = 0
count = 0
while tup[i] <= 36:
    if(tup[i] == x):
        print("FOUND AT INDEX", i)
    i += 1
    count += 1

FOUND AT INDEX 5

In [143]:
count

6

In [144]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 112, 64, 55, 64)

x = 36
i = 0
count = 0
while tup[i] <= 36:
    if(tup[i] == x):
        print("FOUND AT INDEX", i)
    else:
        print("NOT FOUND")
    i += 1
    count += 1

NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
NOT FOUND
FOUND AT INDEX 5

In [145]:
count

6

In [146]:
even = [0,2,4,6,8,10,12,14,16,18,20]
for n in even:
    print(n, end = ' ')

0 2 4 6 8 10 12 14 16 18 20

## While loops

In [147]:
x = 0
while x <= 20:
    print(x, end = ' ')
    x += 2

0 2 4 6 8 10 12 14 16 18 20

#### Question
Create a while loop that will print all odd numbers from 0 to 30 on the same row.

In [148]:
x = 1
while x <= 30:
    print(x, end = ' ')
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

#### Question
Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". Help yourself with the range() function to solve this exercise.

In [166]:
count = 0
for x in range(0, 31, 1):
    if x % 2 != 0:
        print(x, end =' ')
    else:
        print("Even" , end = ' ')
    x += 1
    count += 1

Even 1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [167]:
count

31

#### Question
Create a little program that runs a loop over all values from 1 to 30. Let it print all even numbers, and in the place of the odd numbers, it should print "Odd". Help yourself with the range() function to solve this exercise.

In [168]:
for x in range(1,31,1):
    if x % 2 == 0:
        print(x , end = ' ')
    else:
        print("Odd" , end = ' ')
    x += 1

Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd 20 Odd 22 Odd 24 Odd 26 Odd 28 Odd 30

### We can do the same by using while loop also.

In [152]:
num = 1
count = 0
while num <= 30:
    if num % 2 != 0:
         print(num, end = ' ')
    else:
        print("Even", end = ' ')
    num += 1
    count += 1

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [153]:
count

30

### Question 
Print numbers from 1 to 100

In [154]:
i = 1
count = 0
while i <= 100:
    print(i, end = '   ')
    i += 1
    count += 1

1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50   51   52   53   54   55   56   57   58   59   60   61   62   63   64   65   66   67   68   69   70   71   72   73   74   75   76   77   78   79   80   81   82   83   84   85   86   87   88   89   90   91   92   93   94   95   96   97   98   99   100

#### Question
Print numbers from 100 to 1

In [155]:
i = 100
count = 0
while i >= 1:
    print(i, end = '   ')
    i -= 1
    count += 1

100   99   98   97   96   95   94   93   92   91   90   89   88   87   86   85   84   83   82   81   80   79   78   77   76   75   74   73   72   71   70   69   68   67   66   65   64   63   62   61   60   59   58   57   56   55   54   53   52   51   50   49   48   47   46   45   44   43   42   41   40   39   38   37   36   35   34   33   32   31   30   29   28   27   26   25   24   23   22   21   20   19   18   17   16   15   14   13   12   11   10   9   8   7   6   5   4   3   2   1

#### Question 
Print the multiplication table of a number 3.

In [156]:
i = 1
while i<=10:
    print(3*i , end = '  ')
    i += 1

3  6  9  12  15  18  21  24  27  30

In [160]:
#General Case
#Print the multiplication tale of a number n.
n = int(input("enter number :"))
i = 1
while i <= 10:
    print(n*i)
    i += 1

enter number :1298
1298
2596
3894
5192
6490
7788
9086
10384
11682
12980

In [161]:
# print the elements of the following list using a loop:

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

index = 0
while index < len(nums): #nums[0], nums[1].......\
    print(nums[index])
    index += 1

1
4
9
16
25
36
49
64
81
100

In [162]:
heroes = ["doctor strange", "batman", "superman", "spiderman"]
index = 0
while index < len(heroes):
    print(heroes[index])
    index += 1

doctor strange
batman
superman
spiderman

### Question 
Search for a number x in the tuple using loop

In [126]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
count = 0
x = 36
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("FOUND at index",i)
    i += 1
    count += 1

FOUND at index 5

In [163]:
count

100

In [164]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
count = 0
x = 36
i = 0
while nums[i] <= 36:
    if(nums[i] == x):
        print("FOUND at index",i)
    i += 1
    count += 1

FOUND at index 5

In [165]:
count

6

### Nested Loops

In [203]:
for i in range(1, 14):
    for j in range(0, i):
        print("*", end = ' ')
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *

In [204]:
rows = int(input("Enter the number of Rows"))

for i in range(1, rows + 1):
    for j in range(0, i):
        print("*", end = ' ')
    print("")

Enter the number of Rows14
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *

In [208]:
for i in range(1,5):
    for j in range(1,4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [211]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = ' \t ')
    print()

1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10
2 	 4 	 6 	 8 	 10 	 12 	 14 	 16 	 18 	 20
3 	 6 	 9 	 12 	 15 	 18 	 21 	 24 	 27 	 30
4 	 8 	 12 	 16 	 20 	 24 	 28 	 32 	 36 	 40
5 	 10 	 15 	 20 	 25 	 30 	 35 	 40 	 45 	 50
6 	 12 	 18 	 24 	 30 	 36 	 42 	 48 	 54 	 60
7 	 14 	 21 	 28 	 35 	 42 	 49 	 56 	 63 	 70
8 	 16 	 24 	 32 	 40 	 48 	 56 	 64 	 72 	 80
9 	 18 	 27 	 36 	 45 	 54 	 63 	 72 	 81 	 90
10 	 20 	 30 	 40 	 50 	 60 	 70 	 80 	 90 	 100